
/*arbre généalogique début*/
.arbre ul {
    padding-top: 120px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.arbre ul {
    padding-top: 20px;
    position: relative;
}



.arbre li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.arbre li {
    float: left;
    padding: 20px 5px 0 5px;
    text-align: center;
    xlist-style-type: none;
    position: relative;
}

    /*We will use ::before and ::after to draw the connectors*/

    .arbre li::before, .arbre li::after {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        border-top: 1px solid #ccc;
        width: 50%;
        height: 20px;
    }

    .arbre li::before, .arbre li::after {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        border-top: 10px solid #ccc;
        width: 50%;
        height: 20px;
    }


.arbre li::after {
    right: auto;
    left: 50%;
    border-left: 10px solid #ccc;
}

.arbre li::after {
    right: auto;
    left: 50%;
    border-left: 10px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.arbre li:only-child::after, .arbre li:only-child::before {
    display: none;
}


/*Remove space from the top of single children*/
.arbre li:only-child {
    padding-top: 0;
}

/*Remove left connector from first child and
right connector from last child*/
.arbre li:first-child::before, .arbre li:last-child::after {
    border: 10px none;
}
/*Adding back the vertical connector to the last nodes*/
.arbre li:last-child::before {
    border-right: 10px solid #ccc;
    border-radius: 0 5px 0 0;
}

.arbre li:first-child::after {
    border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.arbre ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 10px solid #ccc;
    width: 0;
    height: 20px;
}

.arbre li bb {
    border: 12px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

    /*Time for some hover effects*/
    /*We will apply the hover effect the the lineage of the element also*/
    .arbre li bb:hover, .arbre li bb:hover + ul li bb {
        background: #c8e4f8;
        color: #000;
        border: 12px solid #94a0b4;
    }
        /*Connector styles on hover*/
        .arbre li bb:hover + ul li::after,
        .arbre li bb:hover + ul li::before,
        .arbre li bb:hover + ul::before,
        .arbre li bb:hover + ul ul::before {
            border-color: #94a0b4;
        }

.arbre-bas{
    border-bottom: 2px solid black;
}
.arbre-contour{
    border: 2px solid black;
}
.arbre-droit{
    border-right: 2px solid black;
}

/*arbre généalogique fin*/
