@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Que signifie cette noce de Cana où Jésus semble se plier à la demande de sa mère, d’autant que l’obéissance à ce geste, dans un autre contexte, est loin d’être digne, puisqu’elle risque de conduire les invités à l’ivresse ?

    A travers une action chargée de symbolisme, la manifestation divine qui se déploie, va emporter l’adhésion des derniers récalcitrants campés derrière leurs doutes : le miracle de Cana s’achève par l’adhésion des disciples qui « crurent en lui ».

    Ici à Cana, Jésus n’enseigne pas par des paroles, il agit. Il manifeste la puissance divine. Toute la force de cet épisode réside dans le geste, accompagné de peu de mots.

    L’épisode de Cana est un moment festif au cours duquel Jésus transforme beaucoup d’eau en vin. Il s’agit bien d’une noce, au cours de laquelle se déploie un événement important de manifestation divine, comme au Baptême ou à la Transfiguration.

    Derrière l’aspect matériel du vin et de l’eau, c’est tout un essentiel qui est présenté. Tout d’abord, nous observons la réaction de Jésus face à la demande de sa mère qui, humainement parlant, en fait un peu trop. En effet, elle le pousse à se montrer là où il semble qu’il ne voulait pas aller, en tout cas pas si tôt.

    Moïse, afin de convaincre Pharaon de laisser partir le peuple d’Israël, avait changé l’eau du Nil en sang (Ex 7,14-25). Jésus est présenté ici comme un nouveau Moïse.

    Un autre aspect du vin qui mérite d’être abordé est celui de la fête. En effet il ne peut y avoir de réjouissances sans le vin…

    Dans l’Ancien Testament, particulièrement chez les prophètes, on trouve le vin lors du festin messianique (« Yahvé Sabaot prépare pour tous les peuples, sur cette montagne, un festin de viandes grasses, un festin de bons vins, de viandes moelleuses, de vin dépouillés ») ou dans des descriptions eschatologiques (« Ce jour-là, les montagnes dégoutteront de vin nouveau » ; « Les montagnes suinteront de jus de raisin, toutes les collines deviendront liquides. ».

    Quelle est donc la portée de ce vin qui coule à flot pour marquer la fête, la joie et que l’on sert autant pour les mariages que pour des retrouvailles longuement attendues ?

    L’abondance dans les textes bibliques rappelle le don de Dieu. Toute abondance trouve sa source dans le don que Dieu fait aux hommes.

    A travers un geste qui semble bien banal, c’est le Christ qui se manifeste en tant que Fils de Dieu. Ce premier signe de Jésus réunit deux substances distinctes en une seule pour donner lieu à un miracle : l’eau transformée en vin. Ce signe placé au début de la vie du Christ évoque déjà l’ultime mystère de Jésus Christ au cours du dernier repas avant sa crucifixion où il transforme le vin en sang.

    Miracle parallèle à celui de la multiplication des pains, il préfigure l’Eucharistie et toute une série d’évènements qui conduisent vers la reconnaissance de Jésus Christ comme Fils de Dieu.
</p>
