@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Avenue Maurice Carême 6<br />
    B-1300 Wavre<br />
    <abbr title="(ET) téléphone maison">P:</abbr>
    +32(0)499 132 338
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:olivier.pxm.paquet@gmail.com">olivier.pxm.paquet@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:olivier.pxm.paquet@gmail.com">olivier.pxm.paquet@gmail.com</a>
</address>