<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="baseUrl" value="http://localhost:61297/api/"></add>
    <add key="loginAPI" value="ASP" />
    <add key="motdepasseAPI" value="boys boys boys, I'm looking for a good time" />
    <add key ="culture" value="fr-FR"/>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
  </appSettings>
</configuration>